*{
    padding: 0;
    margin: 0;

}
body{
    background-color: gray;
    background-size: cover;
}
.about{
    text-align: center;
    font-size:30px;
    color:black;
}
.class{
    color: blue;
    font-size: 45px;
}
.p{
    font-size: 30px;
    color:yellow;
}
.co{
    font-size: 25px;
}
.im{
    
    width: 250px;
    height: 350px;
    position: absolute;
    top: 210px;
    left: 800px;

}
.r{
    font-size: 35px;
    color: blue;
}
.s{
    font-size: 30px;
    color: yellow;
}
.list{
    font-size:25px ;
}
.css{
    color: yellow;
    font-size: 30px;
}
.ve{
    font-size: 25px;
}
.cs{
    color: yellow;
    font-size: 30px;
}
.v{
    font-size: 25px;
}
.c{
    color: yellow;
    font-size: 30px;
}
.j{
    font-size: 25px;
}
.fox{
    font-size: 40px;
}

    
