*{
    padding: 0;
    margin: 0;
}
.l{
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 50px;
}
.p{
    font-size: 25px;
    padding-left: 30px;
    color: blue;
}
.r{
    font-size: 20px;
}
.q{
    padding-left: 600px;
    
}